*.log
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.pdb
*.log
*.idb
*.tlog
*.txt
*.ilk
*.iobj
*.ipdb
*.enc
*.dll

# Pathes
.vs/
Stable build/
Build debug/
Developer/

Beta/
